.chat-w {
	background: #cecece;
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100%;
}

.chat-header {
	align-items: center;
	background: white;
	display: flex;
	justify-content: space-between;
	padding: 20px;
	text-align: center;
}

.chat-header-logo img {
	display: flex;
	height: 36px;
	width: 36px;
}

.chat-header-username {
	display: flex;
	color: purple;
}

.chat-messages {
	display: flex;
	height: 100%;
	overflow: auto;
	position: relative;
}

.chat-messages-col {
	width: 25%;
}

.chat-input-w {
	background: white;
	display: flex;
	padding: 10px;
}